[include config/machine.cfg]
[include config/shellcmd.cfg]

[display_status]
[pause_resume]
[exclude_object]

[include config/macros.cfg]

[save_variables]
filename: config/variables.cfg

[virtual_sdcard]
path: ~/gcode_files
